# Core ML
pandas==2.1.4
numpy==1.26.2
scikit-learn>=1.6.0
scipy==1.11.4
xgboost==2.0.3
lightgbm==4.2.0

# Experiment Tracking
mlflow==2.9.2

# API
fastapi==0.108.0
uvicorn[standard]==0.25.0
pydantic==2.5.3

# Visualization (notebooks)
matplotlib==3.8.2
seaborn==0.13.0

# Jupyter
jupyter==1.0.0
ipykernel==6.28.0

lime
